version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspace:cached
      - $HOME$USERPROFILE/.aws:/home/vscode/.aws
      - $HOME$USERPROFILE/.gitconfig:/etc/gitconfig

    tty: true
